/*
    Fondo principal
*/
body {
    background-color: #FFFAF4;
}
/*
    Sidebar
*/
#slide-out {
    background-color: #FFFAF4;
}
.sidenav li>a {
    color: black;
}
.sidenav .subheader {
    color: gray;
}
.sidebar-selected {
    color: #D25380 !important;
}
/*
    Nav bar
*/
nav {
    background-color: #D25380;
}
/*
    Tipografía
*/
p {
    color: black;
}

h6 {
    color: #E08E6D;
}

h5 {
    color: black;
}

h4 {
    color: black;
}

ul {
    color: black;
}

li {
    color: black;
}

a {
    color: #E08E6D;
}
/*
    Cards
*/
.card {
    background-color: #FFFAF4;
}

.card-content {
    color: black;
}

.card-title {
    color: black;
}

.card .card-reveal {
    background-color: #FFFAF4;
}
/*
    Botones
*/
.btn {
    background-color: #D25380;
    color: white;
}
.btn-small {
    background-color: #D25380;
    color: white;
}
/*
    Forms
*/
.input-field>label {
    color: #E08E6D;
}
input {
    color: black;
}

.graph {
    background-color: white;
}
i {
    color: black;
}