/*
    Fondo principal
*/
body {
    background-color: #1B262C;
}
/*
    Sidebar
*/
#slide-out {
    background-color: #0F4C75;
}
.sidenav li>a {
    color: white;
}
.sidenav .subheader {
    color: #BBE1FA;
}
.sidebar-selected {
    color: #3282B8 !important;
}
/*
    Nav bar
*/
nav {
    background-color: #0F4C75;
}
/*
    Tipografía
*/
p {
    color: white;
}

h6 {
    color: #BBE1FA;
}

h5 {
    color: white;
}

h4 {
    color: white;
}

ul {
    color: white;
}

li {
    color: white;
}

a {
    color: #BBE1FA;
}
/*
    Cards
*/
.card {
    background-color: #3282B8;
}

.card-content {
    color: white;
}

.card-title {
    color: white;
}

.card .card-reveal {
    background-color: #3282B8;
}
/*
    Botones
*/
.btn {
    background-color: #3282B8;
    color: white;
}
.btn-small {
    background-color: #3282B8;
    color: white;
}
/*
    Forms
*/
.input-field>label {
    color: #BBE1FA;
}
input {
    color: white;
}

.graph {
    background-color: white;
}
i {
    color: white;
}