/*
Desktop view > 992px
*/
.main, header, footer {
    padding-left: 300px;
}
.menuButton {
    display: none;
}
.brand-logo {
    margin-left: 15px;
}
.content {
    margin-left:  5vw;
    margin-right: 5vw;
}
.reference {
    text-indent: -30px;
    position: relative;
    padding-left:  40px;
    padding-right: 40px;
}

.bulleted {
    list-style-type: disc !important;
}
/*
Small screen view < 992px
*/
@media (max-width: 992px) {
    .main, header, footer {
        padding-left: 0px;
    }
    .menuButton {
        display: block;
    }
    .brand-logo {
        margin-left: 0px;
    }
}
