<!DOCTYPE html>
<html>
    <head>
        <title>
            MC
        </title>
        <link rel="icon" type="image/x-icon" href="../static/img/logo.ico">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/styles.css">

    </head>
    <body> 
        <ul id="slide-out" class="sidenav sidenav-fixed ">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://picsum.photos/300/300" />
                    </div>
                    <a href="#"><img class="circle" src="../static/img/logo.png" /></a>
                    <a href="#"><span class="white-text name">LightTrek</span></a>
                    <a href="#"><span class="white-text email">Simulación</span></a>
                </div>
            </li>
            <li><a href="#!" id="b1" onclick="buttonId(this)" sdelement="true" class="waves-effect blue-text text-darken-2">Introducción</a></li>
            <li><a href="#!" id="b2" onclick="buttonId(this)" sdelement="true" class="waves-effect">Propiedades ópticas del tejido</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Simulación</a></li>
            <li><a class="waves-effect" href="#!">Sistemas de coordenadas</a></li>
            <li><a class="waves-effect" href="#!">Una dimensión</a></li>
        </ul>
        
        <div class="main">
            <nav class="indigo darken-3">
                <div class="nav-wrapper">
                    <div class="menuButton">
                        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
                    </div>
                    <a href="#" class="brand-logo">LightTrek</a>
                </div>
            </nav>
            <div class="content container">
                
            </div>
        </div> 

        <script src="../static/js/sidebar_handler.js"></script>

        <script>redirect("b1");</script>
        
        <script>
            // Inicializar los campos de entrada (input-fields)
          document.addEventListener('DOMContentLoaded', function() {
              M.AutoInit(); // Inicializa todos los elementos de Materialize CSS en la página
          });
        </script>
    </body>
</html>